CircleProgressView.xcodeproj/project.xcworkspace/xcshareddata/CircleProgressView.xccheckout
CircleProgressView.xcodeproj/xcuserdata/erolf.xcuserdatad/xcschemes/CircleProgressView.xcscheme
CircleProgressView.xcodeproj/xcuserdata/erolf.xcuserdatad/xcschemes/xcschememanagement.plist
